<!DOCTYPE html>

<html>
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link href="~/css/login.css" rel="stylesheet" />
    <link rel="icon" href="~/images/ERBAY LOGO.png">
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div class="wrapper fadeInDown">
        <div id="formContent">
            @RenderBody()
        </div>
    </div>



    <!-- jQuery library -->
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>*@
    <script src="~/plugins/jquery/jquery.min.js"></script>

    <!-- Popper JS -->
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>*@
    <script src="~/plugins/bootstrap/js/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    @*<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>*@
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>

</body>
</html>

