<footer class="section " id="footer-@Context.Request.Host@Context.Request.Path">
    <div class="overlay footer-overlay"></div>
    <!--Content -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-sm-12">
                <div class="footer-widget">
                    <!-- Brand -->
                    <a asp-controller="Home" asp-action="Index" class="footer-brand text-white">
                        Korona Takip
                    </a>
                    <p>Korona Takip uygulaması gerekli verileri alıp size sunduğum bir web sitesidir.</p>
                </div>
            </div>

            <div class="col-lg-2 col-sm-6">
                <div class="footer-widget">
                    <h3>İletişim</h3>
                    <!-- Links -->
                    <ul class="list-unstyled footer-links">
                        <li>
                            <a href="https://github.com/mavzerbay">
                                <i class="fab fa-github"></i>GitHub
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/mavzerbaynet/">
                                <i class="fab fa-instagram"></i>Instagram
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/baran-erbay-mavzer-259487184/">
                                <i class="fab fa-linkedin"></i>LinkedIn
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div> <!-- / .row -->


        <div class="row text-right pt-5">
            <div class="col-lg-12">
                <!-- Copyright -->
                <p class="footer-copy ">
                    &copy; Copyright <a href="https://www.instagram.com/mavzerbaynet/"><span class="current-year">MavzerbayNet</span></a> All rights reserved.
                </p>
            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->
</footer>