@model KoronaTakipV2.Models.LoginModels.LoginViewModel
@using System.Threading.Tasks
@{
    ViewData["Title"] = "Giriş Sayfası";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}



<!-- Tabs Titles -->
<!-- Icon -->
<div class="fadeIn first">
    <img style="height:6em;width:6em;" class="mt-lg-2" src="~/images/ERBAY LOGO.png" id="icon" alt="User Icon" />
</div>

@if (TempData["message"] != null)
{
    <div class="alert alert-danger">@TempData["message"]</div>
}
<!-- Login Form -->
<form asp-action="Login" asp-controller="Account" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="text" id="login" class="fadeIn second" name="Username" placeholder="Kullanıcı Adı">
    <span asp-validation-for="UserName" class="text-danger small"></span>
    <input type="password" id="password" class="fadeIn third" name="Password" placeholder="Şifre">
    <span asp-validation-for="Password" class="text-danger small"></span><br />

    <input class="fadeIn second remember" type="checkbox" asp-for="RememberMe" name="RememberMe"/><label>Beni Hatırla</label> <br />

    <input type="submit" class="fadeIn fourth" value="Giriş Yap">

</form>


<div class="card-footer">
    <div class="d-flex justify-content-center links">
        <a asp-action="Register">Kayıt Ol</a>
    </div>
    <div class="d-flex justify-content-center">
        <a asp-action="ForgotPassword">Şifreni mi unuttun?</a>
    </div>
</div>


